/*右上社交媒体关联区域*/
header{
	position: absolute;
	right: 30px;
	top: 20px;
}
.social-list li{
	display: inline-block;
	margin-right:15px; 
}
.social-list li a{
	display: block;
	height: 30px;
	width: 30px;
}
.weibo{
	background:url(../img/icon/sprite.png) ;
	background-position: 0 -30px;
}
.twitter{
	background:url(../img/icon/sprite.png) ;
	background-position: 0 0;
}
.wechat{
	background:url(../img/icon/sprite.png) ;
	background-position: 0 -60px;
}
.my-wechat{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 15px;
    top: 50px;
    display: none;
    background:url(../img/wechat-m.jpg)
}
.not-found{
	text-align: center;
	background-color:rgb(91,96,115);
	color:white;
	position: absolute;
	top: 50px;
	right: 60px;
	height: 150px;
	width: 120px;
	line-height: 50px;
	padding-top:30px; 
	display: none;
}
.social-list li a:hover{
    animation:changerotate 0.3s linear;
}
@keyframes changerotate{
	0%{
        transform:rotate(0);
	}
	25%{
        transform:rotate(-30deg);
	}
	50%{
		transform:rotate(0);
	}
	75%{
		transform:rotate(30deg);
	}
	100%{
        transform:rotate(0);
	}

}
/*右上社交媒体关联区域结束*/

#banner{
    background:url(../img/04.png);
	background-size:100% 100%;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-color: #666;
	height:100%;
	text-align: center;
}
#banner .logo{
	max-width: 400px;
	margin:0 auto;
	position: relative;
	top: 35%;
	color:#fff;
}
#banner .logo h1{
	border-bottom:2px solid black;
	padding-bottom:50px;  
}
#banner .logo h2{
	padding-top: 20px;
}
#banner .list{
	margin:0 auto;
	position: relative;	
	top: 50%;
}

#bktop{
    position: fixed;
    display: block;
    height: 30px;
    width: 30px;
    top: 10px;
    right: 10px;
    display: none;
    background:url(../img/icon/sprite.png); 
    background-position: 0 -90px;
    opacity: 0.5;
}
#bktop:hover{
	opacity: 1;
}
#aboutthis{
	background-color: #f33;
	height:100%;
	width:100%;
}
#blog{
	background-color: #fff;
	height:100%;
	width:100%;
}
#contactme{
	background-color: #f3f;
	height:100%;
	width:100%;
}