/*导航栏*/
header{
	position: fixed;
	z-index: 9999;
	width: 62px;
    top:50%; 
    margin-top: -148px;
    margin-left: 30px;
}
header ul li a{
	margin:16px 0 16px 0;
	display: block;
    height: 60px;
    width:60px;
    margin-left: -100px;
    border:1px solid rgba(0,255,255,0.8); 
    background-color: rgba(0,0,0,0.3);
    border-radius:50%;
    text-align: center;
   	line-height: 60px; 
   	color: #fff;
   	transition:all 0.5s;
}
header ul li .banner{
	animation:ani-gui-load 0.8s ease-out 3.5s;
   	animation-fill-mode:forwards;
}
header ul li .aboutthis{
	animation:ani-gui-load 0.8s ease-out 3.8s;
   	animation-fill-mode:forwards;
}
header ul li .blog{
	animation:ani-gui-load 0.8s ease-out 4.1s;
   	animation-fill-mode:forwards;
}
header ul li .contactme{
	animation:ani-gui-load 0.8s ease-out 4.4s;
   	animation-fill-mode:forwards;
}

header ul li a:hover{
    box-shadow: 0 0 2px 4px rgba(0,255,255,0.2);
}

/* 主页*/
#banner{
	color: #fff;
    background:url(../img/03.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
	background-repeat: no-repeat;
	text-align: center;
}
.hr1{
    margin:20% auto 0;
    height:3px;
    display: block;
    width: 50%;
    background-color: rgb(91,96,115);
    animation:ani-hrone 2s ease;
}
#banner .logo{
	padding: 8% 0 8% 0;
	animation:ani-logo 2s;
}
.hr2{
	border:0; 
    height:3px;
    display: block;
    width: 75%;
    background-color: rgb(91,96,115);
    margin: 0 auto;
    animation:ani-hrtwo 3.5s ease;
}
#banner .content .h3{
	letter-spacing:4px;
	padding: 3% 0 3% 0;
	border:1px solid rgba(0,255,255,0.3);
	background-color: rgba(91,96,115,0.1);
	line-height: 2em;
}
#banner .content .h3 p{
	animation-fill-mode:forwards;
	animation:ani-h3p 3.5s linear ;
}


/*跳转按钮悬浮动画*/
#banner .list a:hover{
    box-shadow: 0 0 0 8px rgba(0,255,255,0.1);
    transform:scale(1.12,1.12);
    letter-spacing: 2px;
}

/*主页结束*/

#aboutthis{
	width:100%;
}
.aboutthis-top{
    height: 15%;
    width: 100%;
    background-color: rgb(34,179,172);
    text-align: center;
    position: relative;
}

#aboutthis .aboutthis-top .about-me{
	font-size: 450%;
	width: 50%;
	display: block;
	border-bottom: 5px solid #fff;
	margin: 0 auto;
	padding-top:1.4%;
	color: #fff;
	opacity: 0;
}
.about-me-ani{
	animation:ani-aboutme 2s linear;
	animation-fill-mode:forwards;
}
#give-me-offer p{
    letter-spacing: 3px;
    font-size: 20px;
    color:rgb(79,79,79);
}
#person-info-pic,#person-info-txt{
    text-align: center;
}
#person-info-pic div{
	display: inline-block;
	text-align: center;
	border-radius: 100%;
	margin: 0 4%;
	height: 120px;
	width: 120px;
	transition:transform 1s;
}
#person-info-pic div:hover{
	transform:rotateY(360deg);
}
#person-info-pic .pho{
    background: url(../img/me.png);
    background-size: cover;
    border:3px solid rgb(91,96,115);
}
#person-info-pic .edu{
	background: url(../img/icon/edu.jpg);
    background-size: cover;
    border:3px solid rgb(91,96,115);
}
#person-info-pic .age{
	background: url(../img/icon/age.png);
    background-size: cover;
    border:3px solid rgb(91,96,115);
}
#person-info-pic .loc{
	background: url(../img/icon/loc.png);
    background-size: cover;
    border:3px solid rgb(91,96,115);
}
#person-info-txt div{
	display: inline-block;
	width: 120px;
	margin: 3% 4%;
	border:2px solid  rgb(91,96,115);
	transition:all 1s;
}
#person-info-txt div:hover{
	box-shadow: 10px 10px 3px 0 rgb(91,96,115);
	transform:scale(1.1,1.1);
}

#person-info-txt p:nth-child(2n+1){
    text-align: left;
    padding: 10px 0 0 10px;
}
#person-info-txt p:nth-child(2n){
    text-align: right;	
    padding: 0 10px 5px 0;
}
#aboutthis .content h2{
    color: rgb(91,96,115);
    font-size:26px;
    padding-top:20px; 
}
#aboutthis .content ul{
	margin-top: 40px;
}
#aboutthis .content li{
	color: #fff;
	margin: 30px 0;
}
#aboutthis .content li p{
	display: inline-block;
    border-radius: 15px 0 0 15px;
    width: 18%;
    text-align: center;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
}
#aboutthis .content li span{
	display: inline-block;
	height: 30px;
	border-radius: 0 15px 15px 0;
}

.html-rage p{
	background-color: rgb(34,179,172);
}
.html-rage span{
	width: 82%;
	background-color: rgba(34,179,172,0.5);
}
.js-rage p{
	background-color: rgb(255,169,121);
}
.js-rage span{
	width: 72%;
	background-color: rgba(255,169,121,0.5);
}
.jq-rage p{
	background-color:rgb(238,118,126);
}
.jq-rage span{
	width: 69%;
	background-color:rgba(238,118,126,0.5);
}
.res-rage p{
	background-color: rgb(204,179,97);
}
.res-rage span{
	width: 55%;
	background-color: rgba(204,179,97,0.5);
}
.other-rage p{
	background-color:rgb(136,146,181);
}
.other-rage span{
	width: 36%;
	background-color:rgba(136,146,181,0.5);
}
.rage-ani{
	opacity: 0;
	animation:ani-rage 2s ease-out 2.5s;
	animation-fill-mode:forwards;
}


#blog{
	background-color: #666;
	width:100%;
}
#contactme{
	width:100%;
}