*{
	margin: 0;
	padding: 0;
}
body{
	font-size:16px; 
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #000;
}
h1,h2,h3,h4{
	padding:0;
	margin:0px; 
	font-weight: normal; 
}
h1{
	font-size: 300%;
}
button{
	border: none;
}
section{
	height: 100%;
}
.content{
    padding: 3% 25%;
}